.DS_Store
.ipynb_checkpoints/Arquivo Inicial - Aula 1-checkpoint.ipynb
Aula-1/Apostila - Aula 1.pdf
Aula-2/Apostila - Aula 2.pdf
Aula-3/Apostila Intensivão de Python - Aula 3.pdf
Aula-1/Arquivo Inicial - Aula 1.ipynb